Repository mcai-pydev/natureBreedFarm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @frontend-team-lead, @backend-team-lead, @project-architect, @animal-specialist, @customer-experience-lead, @devops-lead, @data-architect, @documentation-team

Assistant checkpoint: Fixed ToastProvider import path
  client/src/App.tsx
Owners: @frontend-team-lead

Update import path for use-toast hook
  client/src/App.tsx
Owners: @frontend-team-lead

Assistant checkpoint: Fix toast provider and configure dev server
  client/src/App.tsx
Owners: @frontend-team-lead

Add dev server workflow and refactor toast notification component.
  .replit
  attached_assets/WhatsApp Image 2025-04-02 at 16.13.03_58eb891f_1743603217952.jpg
  client/src/App.tsx
  client/src/hooks/use-toast.ts
Owners: @project-admin, @frontend-team-lead

Fix: Update links to use divs instead of anchor tags for improved accessibility
  attached_assets/content-1743606118240.md
  attached_assets/screenshot-1743606114989.png
  client/src/components/orders/order-history.tsx
  client/src/pages/home-page.tsx
Owners: @project-admin, @frontend-team-lead

Fix display errors in shop and account creation sections
  attached_assets/WhatsApp Image 2025-04-02 at 17.23.59_76917095_1743607455880.jpg
Owners: @project-admin

Add user authentication feature with login and registration pages
  attached_assets/WhatsApp Image 2025-04-02 at 17.29.42_7eb037af_1743607795321.jpg
  client/src/App.tsx
  client/src/lib/protected-route.tsx
  client/src/pages/home-page.tsx
Owners: @project-admin, @frontend-team-lead

Add onboarding tour to guide new users through the platform's key features.
  client/src/App.tsx
  client/src/components/onboarding/onboarding-tour.tsx
  client/src/pages/onboarding-page.tsx
  package-lock.json
  package.json
Owners: @frontend-team-lead, @project-admin

Add debug page for onboarding tour
  attached_assets/WhatsApp Image 2025-04-02 at 18.35.11_4f1e2897_1743611725067.jpg
  client/src/App.tsx
  client/src/components/onboarding/onboarding-tour.tsx
  client/src/pages/debug-onboarding-page.tsx
Owners: @project-admin, @frontend-team-lead

Fix: Improve onboarding debug page functionality. Added a reset button and a link to the onboarding tour from the home page for easier testing.
  client/src/pages/debug-onboarding-page.tsx
  client/src/pages/home-page.tsx
Owners: @frontend-team-lead

Enhance onboarding experience with improved reset functionality and force view option
  client/src/pages/debug-onboarding-page.tsx
  client/src/pages/home-page.tsx
  client/src/pages/onboarding-page.tsx
Owners: @frontend-team-lead

Enhance onboarding tour with animated mascot and internationalization support.
  client/src/components/onboarding/onboarding-tour.tsx
Owners: @frontend-team-lead

Improve product data fetching efficiency
  client/src/modules/customer/pages/mobile-shop-page.tsx
  client/src/pages/shop-page.tsx
Owners: @customer-experience-lead, @frontend-team-lead

Improve error handling in data fetching
  client/src/lib/queryClient.ts
Owners: @frontend-team-lead

Update data fetching logic for improved query handling
  client/src/lib/queryClient.ts
Owners: @frontend-team-lead

Enhance mobile and desktop shop pages with error handling and logging.
  client/src/modules/customer/pages/mobile-shop-page.tsx
  client/src/pages/shop-page.tsx
Owners: @customer-experience-lead, @frontend-team-lead

Improve mobile experience by adding mobile context provider
  client/src/App.tsx
Owners: @frontend-team-lead

Implement system health checks and automated boot process.
  attached_assets/Pasted-Thanks-again-for-the-amazing-work-you-ve-done-across-the-platform-from-the-checkout-flow-to-the-on-1743643072404.txt
  boot-status.json
  boot-system.js
  server/boot/README.md
  server/boot/api-check.ts
  server/boot/cli.ts
  server/boot/database-check.ts
  server/boot/index.ts
  server/index.ts
  server/routes.ts
Owners: @project-admin, @backend-team-lead

Enhance boot system with comprehensive health checks and reporting. Adds CLI for status checks, automated health snapshots, and improved logging.
  attached_assets/Pasted-That-s-an-incredible-foundation-the-smart-boot-system-is-shaping-up-to-be-a-critical-backbone-for--1743645455375.txt
  boot-status.json
  boot-system.js
  server/boot/checkout-check.ts
  server/boot/cli.ts
  server/boot/health-snapshot.ts
  server/boot/index.ts
  server/boot/orders-check.ts
  server/routes.ts
Owners: @project-admin, @backend-team-lead

Add system status dashboard showing component health and allowing on-demand snapshot exports.
  boot-status.json
  client/src/App.tsx
  client/src/components/system/boot-status-dashboard.tsx
  client/src/pages/status-page.tsx
  server/routes.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Enhance farm management platform with system status dashboard and monitoring.
  attached_assets/Pasted-Thanks-for-the-update-and-the-image-the-status-dashboard-looks-fantastic-It-s-clean-clear-and-s-1743647190634.txt
  boot-status.json
  client/src/components/system/boot-status-dashboard.tsx
  client/src/pages/status-page.tsx
  server/boot/breeding-check.ts
  server/boot/index.ts
  server/boot/types.ts
  server/routes.ts
  server/routes/status-badge.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Add new application pages and update boot process to include page health checks.
  boot-status.json
  client/src/App.tsx
  client/src/components/system/boot-status-dashboard.tsx
  client/src/components/ui/button.tsx
  client/src/hooks/use-toast.tsx
  package-lock.json
  package.json
  server/boot/index.ts
  server/boot/pages-check.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Improve accessibility of command dialog by adding a hidden title
  boot-status.json
  client/src/components/ui/command.tsx
  client/src/components/ui/visually-hidden.tsx
Owners: @project-admin, @frontend-team-lead

Fix: Address React component update warning during rendering by refactoring ProtectedRoute component to handle redirects asynchronously.
  boot-status.json
  client/src/lib/protected-route.tsx
Owners: @project-admin, @frontend-team-lead

Update boot timestamps to reflect system restart
  boot-status.json
Owners: @project-admin

Add accessibility checks to the boot process and status page.
  attached_assets/Pasted--raising-a-very-important-point-about-recurring-accessibility-and-dependency-issues-especially-whe-1743651557753.txt
  boot-status.json
  client/src/components/system/boot-status-dashboard.tsx
  client/src/pages/status-page.tsx
  server/boot/accessibility-check.ts
  server/boot/index.ts
  server/boot/types.ts
  server/routes.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Update health checks to include authentication and improve error handling.
  health-snapshots/health-snapshot-2025-04-03T04-19-06.843Z.json
  health-snapshots/health-snapshot-2025-04-03T04-19-28.604Z.json
  health-snapshots/latest-snapshot.json
  server/boot/checkout-check.ts
  server/boot/orders-check.ts
Owners: @project-admin, @backend-team-lead

Improve accessibility and add labels to UI components.
  boot-status.json
  client/src/components/shop/navigation-bar.tsx
  client/src/components/shop/newsletter-form.tsx
  client/src/components/ui/quantity-selector.tsx
  client/src/components/ui/select.tsx
  health-snapshots/health-snapshot-2025-04-03T04-34-45.761Z.json
Owners: @project-admin, @frontend-team-lead

Update boot system checks to include rabbit breeding module and improve error handling.
  boot-status.json
  client/src/components/system/boot-status-dashboard.tsx
  server/boot/checkout-check.ts
  server/boot/index.ts
  server/boot/rabbit-check.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

sync: linked local folder with GitHub repo safely
  .env.example
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  _backup/.gitignore
  _backup/.replit
  _backup/README.md
  _backup/package.json
  _backup/replit.nix
  requirements.txt
  research/README.md
  research/data_sources.json
  research/notebooks/rag_experiments.ipynb
  roadmap.md
Owners: @project-admin

🐛 Fix: RabbitBreedingPage import error + sync with dev
  .env.example
  boot-status.json
  client/src/App.tsx
  client/src/pages/rabbit-breeding-page-fixed.tsx
  client/src/pages/rabbit-breeding-page.tsx
  package-lock.json
  package.json
  server/index.ts
  start-tmux.sh
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Fix farm management app unavailability by restoring database connection.
  boot-status.json
  client/src/App.tsx
  client/src/components/layout/mobile-menu.tsx
  client/src/components/layout/sidebar.tsx
Owners: @project-admin, @frontend-team-lead

Update boot timestamps in status file
  attached_assets/WhatsApp Image 2025-04-04 at 15.23.04_1f25b984_1743773033714.jpg
  boot-status.json
  client/src/pages/rabbit-breeding-page.tsx
  package-lock.json
  package.json
  requirements.clean.txt
  requirements.txt.new
Owners: @project-admin, @frontend-team-lead

Add rabbit breeding module as a standalone micro-app.
  DEPLOYMENT.md
  apps/rabbit-breeding/.env.example
  apps/rabbit-breeding/README.md
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/layout.tsx
  apps/rabbit-breeding/client/src/lib/queryClient.ts
  apps/rabbit-breeding/client/src/lib/utils.ts
  apps/rabbit-breeding/client/src/pages/dashboard.tsx
  apps/rabbit-breeding/drizzle.config.ts
  apps/rabbit-breeding/package.json
  apps/rabbit-breeding/server/animal-breeding.ts
  apps/rabbit-breeding/server/db.ts
  apps/rabbit-breeding/server/index.ts
  apps/rabbit-breeding/server/routes.ts
  apps/rabbit-breeding/shared/schema.ts
  apps/rabbit-breeding/tsconfig.json
  apps/rabbit-breeding/tsconfig.node.json
  apps/rabbit-breeding/vite.config.ts
  attached_assets/Pasted--Tasks-for-MVP-Testing-Let-s-start-with-feasible-low-to-medium-effort-tasks-while-laying-foundatio-1743828756891.txt
  attached_assets/Pasted-Finalized-Developer-Task-Title-Split-Rabbit-Breeding-System-into-Independent-Smart-Module-Goal--1743824807325.txt
  attached_assets/Pasted-Task-Finalize-Core-Functionality-for-First-Testable-Version-Objective-Prepare-the-Rabbit-Breedin-1743828467883.txt
  python-requirements.txt.bak
  requirements.clean.txt
Owners: @project-admin

Add system status page and improve dashboard display.
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/layout.tsx
  apps/rabbit-breeding/client/src/components/ui/badge.tsx
  apps/rabbit-breeding/client/src/components/ui/card.tsx
  apps/rabbit-breeding/client/src/lib/utils.ts
  apps/rabbit-breeding/client/src/pages/dashboard.tsx
  apps/rabbit-breeding/client/src/pages/status.tsx
  apps/rabbit-breeding/server/health.ts
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
  package-lock.json
  package.json
Owners: @project-admin

Add breeding events page to rabbit breeding app
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/layout.tsx
  apps/rabbit-breeding/client/src/pages/breeding-events.tsx
  apps/rabbit-breeding/shared/schema.ts
  attached_assets/Pasted--Next-Critical-Task-Breeding-Events-Functionality-This-continues-from-the-current-milestone-dash-1743830579910.txt
  boot-status.json
  package-lock.json
  package.json
Owners: @project-admin

Add rabbit detail page and enhance breeding event API
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/ui/tabs.tsx
  apps/rabbit-breeding/client/src/lib/utils.ts
  apps/rabbit-breeding/client/src/pages/rabbit-detail.tsx
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
Owners: @project-admin

Add CSV and PDF export functionality for breeding events
  apps/rabbit-breeding/client/src/pages/breeding-events.tsx
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
  package-lock.json
  package.json
Owners: @project-admin

Update boot timestamps to reflect current time
  boot-status.json
  breeding_events.csv
  breeding_events.pdf
  client/src/pages/rabbit-breeding-page.tsx
  server/routes.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Enhance UI components and add breeding compatibility check.
  apps/rabbit-breeding/client/src/components/breeding/CompatibilityChecker.tsx
  apps/rabbit-breeding/client/src/components/ui/badge.tsx
  apps/rabbit-breeding/client/src/components/ui/button.tsx
  apps/rabbit-breeding/client/src/components/ui/card.tsx
  apps/rabbit-breeding/client/src/components/ui/select.tsx
  apps/rabbit-breeding/client/src/lib/breeding/validatePairing.ts
  apps/rabbit-breeding/client/src/pages/breeding-events.tsx
  apps/rabbit-breeding/server/routes.ts
  attached_assets/Pasted-Task-Brief-Implement-Parent-Compatibility-Genetic-Safety-Check-Goal-Prevent-inbreeding-by-intr-1743836445615.txt
  boot-status.json
Owners: @project-admin

.github/CODEOWNERS:

# Example code ownership definitions - update with actual users

# Default owners for everything
*                               @project-admin

# Frontend code
/client/                        @frontend-team-lead
/client/src/pages/              @frontend-team-lead
/client/src/components/         @frontend-team-lead
/client/src/hooks/              @frontend-team-lead

# Backend code
/server/                        @backend-team-lead
/server/routes/                 @backend-team-lead
/server/middleware/             @backend-team-lead

# Shared code
/shared/                        @project-architect

# Animal breeding module
/client/src/modules/breeding/   @animal-specialist
/server/routes/breeding-routes.ts @animal-specialist

# Shopping module
/client/src/modules/customer/   @customer-experience-lead

# GitHub configuration
/.github/                       @devops-lead

# Database and data models
/shared/schema.ts               @data-architect
/server/storage.ts              @data-architect

# CI/CD configuration
/.github/workflows/             @devops-lead

# Documentation
/docs/                          @documentation-team
/README.md                      @documentation-team
