Repository mcai-pydev/natureBreedFarm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @frontend-team-lead, @backend-team-lead, @project-architect, @animal-specialist, @customer-experience-lead, @devops-lead, @data-architect, @documentation-team

Add rabbit compatibility checks to the farm management platform. This includes a new API endpoint, UI component, and health checks.
  apps/rabbit-breeding/client/src/components/compatibility/RecentCompatibilityChecks.tsx
  apps/rabbit-breeding/client/src/pages/dashboard.tsx
  apps/rabbit-breeding/server/health.ts
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
Owners: @project-admin

Update rabbit breeding module to fetch data from API.
  apps/rabbit-breeding/client/src/components/compatibility/CompatibilityBadge.tsx
  apps/rabbit-breeding/client/src/components/compatibility/RecentCompatibilityChecks.tsx
  apps/rabbit-breeding/client/src/components/ui/tooltip.tsx
  apps/rabbit-breeding/client/src/lib/utils.ts
  apps/rabbit-breeding/client/src/pages/breeding-events.tsx
  apps/rabbit-breeding/client/src/pages/dashboard.tsx
  apps/rabbit-breeding/client/src/pages/rabbit-detail.tsx
  apps/rabbit-breeding/client/src/pages/status.tsx
  apps/rabbit-breeding/server/ai-service.ts
  apps/rabbit-breeding/server/routes.ts
  attached_assets/Pasted--Test-Report-for-Rabbit-Breeding-Compatibility-Check-Test-Context-Test-Performed-On-Rabbit-Bree-1743840399195.txt
  attached_assets/WhatsApp Image 2025-04-05 at 10.08.07_590bfbb0_1743840507174.jpg
  boot-status.json
Owners: @project-admin

Add rabbit breeding module to farm management platform
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/layout.tsx
  apps/rabbit-breeding/client/src/pages/rabbit-breeding-page.tsx
  attached_assets/WhatsApp Image 2025-04-05 at 10.29.32_d4a4730c_1743841810972.jpg
  boot-status.json
Owners: @project-admin

Fix rabbit breeding page load failure by correcting API route, query, and navigation
  apps/rabbit-breeding/client/src/App.tsx
  apps/rabbit-breeding/client/src/components/layout.tsx
  apps/rabbit-breeding/client/src/pages/rabbit-breeding-page.tsx
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
Owners: @project-admin

Fix: Implement authentication for animal data fetching. Improved data filtering and handling on the backend.
  apps/rabbit-breeding/client/src/pages/rabbit-breeding-page.tsx
  apps/rabbit-breeding/server/routes.ts
  boot-status.json
Owners: @project-admin

Migrate database to NeonDB cloud service.
  .env.example
  apps/rabbit-breeding/server/db.ts
  attached_assets/Pasted--Critical-Developer-Task-Replit-PostgreSQL-Deployment-Fix-Issue-Summary-The-platform-throws-E-1743860151605.txt
  boot-status.json
  package-lock.json
  package.json
  replit.nix
  server/db.ts
  server/index.ts
  server/seed-data.ts
  server/storage.ts
Owners: @project-admin, @backend-team-lead, @data-architect

Update boot status timestamps
  attached_assets/Pasted--Critical-Developer-Task-Replit-PostgreSQL-Deployment-Fix-Issue-Summary-The-platform-throws-E-1743860980173.txt
  boot-status.json
  server/animal-breeding.ts
  server/seed-data.ts
Owners: @project-admin, @backend-team-lead

Update boot timestamps in status report
  boot-status.json
  server/index.ts
  server/seed-data.ts
Owners: @project-admin, @backend-team-lead

Update boot status timestamps
  boot-status.json
Owners: @project-admin

Checkpoint before assistant change: Update boot timestamps to reflect recent deployment
  boot-status.json
Owners: @project-admin

Assistant checkpoint: Fix deployment environment configuration
  server/index.ts
Owners: @backend-team-lead

Update server configuration and fix boot status reporting
  .env.example
  boot-status.json
  client/src/assets/health-test.html
  server/boot/auth-check.ts
  server/boot/index.ts
  server/boot/pages-check.ts
  server/index.ts
  server/routes.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Update authentication and routing to fix login issues and improve protected route handling.
  attached_assets/Pasted--Error-Summary-Localhost-Admin-Login-Issues-Despite-your-recent-fix-to-avoid-recursive-boot-st-1743866297700.txt
  boot-status.json
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
  client/src/lib/protected-route.tsx
  client/src/pages/auth-page.tsx
Owners: @project-admin, @frontend-team-lead

Update authentication system and improve logging. Addresses login failure after database migration.
  attached_assets/Pasted--Diagnosis-Summary-This-means-The-login-form-was-submitted-There-were-no-errors-thrown-from--1743893347436.txt
  attached_assets/WhatsApp Image 2025-04-06 at 00.44.19_345775af_1743893368668.jpg
  boot-status.json
  server/auth.ts
  server/storage.ts
Owners: @project-admin, @backend-team-lead, @data-architect

Update authentication system to use JWT and fix related bugs.
  boot-status.json
  client/src/hooks/use-auth.tsx
  package-lock.json
  package.json
  server/auth.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Fix user login issues by updating authentication and database credentials.
  attached_assets/Pasted--High-Priority-Developer-Task-Login-Database-Auth-Fix-Current-Issue-Users-cannot-login--1743895537152.txt
  boot-status.json
  package-lock.json
  package.json
  server/auth.ts
  server/seed-data.ts
Owners: @project-admin, @backend-team-lead

Update boot status timestamps and add image
  attached_assets/WhatsApp Image 2025-04-06 at 01.21.37_0ca5bb6b_1743895922679.jpg
  boot-status.json
Owners: @project-admin

Update farm management platform boot status and admin password.
  boot-status.json
  update-password.js
Owners: @project-admin

Fix broken authentication and navigation flows by implementing role-based redirection and updating the user authentication logic.
  attached_assets/Pasted--STABILITY-FIRST-TASK-Fix-Broken-Auth-and-Navigation-Flow-Task-Refactor-User-Role-Handling-and--1743903696485.txt
  boot-status.json
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
Owners: @project-admin, @frontend-team-lead

Fix authentication issues and improve session handling. Updated login process and error handling to improve reliability.
  attached_assets/Pasted--SYSTEM-STATUS-SUMMARY-Database-is-connected-via-NeonDB-Admin-user-was-seeded-but-login-fai-1743905099954.txt
  attached_assets/WhatsApp Image 2025-04-06 at 03.59.42_655a5f55_1743905121955.jpg
  boot-status.json
  client/src/hooks/use-auth.tsx
  server/auth.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Fix role-based access control issues and standardize admin role handling.
  attached_assets/Pasted--Developer-Task-Block-Critical-Access-Role-Management-1-Fix-Role-Based-Access-Control-R-1743906856878.txt
  attached_assets/WhatsApp Image 2025-04-06 at 03.59.42_860953e9_1743906663436.jpg
  boot-status.json
  client/src/hooks/use-auth.tsx
  client/src/lib/protected-route.tsx
  server/auth.ts
  server/index.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Improve authentication health checks and add system health monitoring.
  attached_assets/Pasted--Developer-Task-Directive-From-Prof-AI-Engineer-Product-Lead-Team-As-we-move-into-a-critica-1743908831428.txt
  boot-status.json
  seed-admin.js
  server/health/auth-health.ts
  server/health/index.ts
  server/routes.ts
Owners: @project-admin, @backend-team-lead

Fix authentication issues and improve shop page error handling.
  attached_assets/Pasted--Developer-Coordination-Message-from-Project-Mentor-Team-thank-you-for-your-hard-work-so-far--1743910677579.txt
  attached_assets/Pasted--Developer-Task-Brief-April-6-Priority-Stabilize-Validate-Core-Features-Objective-Ensur-1743910144262.txt
  boot-status.json
  client/src/hooks/use-auth.tsx
  client/src/pages/shop-page.tsx
  health-snapshots/health-snapshot-2025-04-06T03-49-34.806Z.json
  health-snapshots/health-snapshot-2025-04-06T03-49-56.154Z.json
  server/auth.ts
  server/boot/auth-check.ts
  server/health/auth-health.ts
  server/routes.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Add placeholder pages and improved health checks. Added placeholder pages for upcoming features and implemented a new health check endpoint for API routes.
  client/src/App.tsx
  client/src/components/under-construction.tsx
  docs/ui-button-audit.md
  health-snapshots/health-snapshot-2025-04-06T04-26-30.160Z.json
  health-snapshots/health-snapshot-2025-04-06T04-27-00.365Z.json
  health-snapshots/health-snapshot-2025-04-06T04-27-26.327Z.json
  health-snapshots/health-snapshot-2025-04-06T04-28-23.663Z.json
  server/health/index.ts
  server/health/route-health.ts
  server/routes.ts
  server/types/health.ts
Owners: @frontend-team-lead, @documentation-team, @project-admin, @backend-team-lead

Checkpoint before assistant change: Update boot timestamps to reflect successful redeployment
  boot-status.json
Owners: @project-admin

Assistant checkpoint: Updated Nix config and deployment settings
  replit.nix
Owners: @project-admin

Add developer tools and enhance health checks with route coverage details.
  .replit
  boot-status.json
  client/src/App.tsx
  client/src/pages/dev/coverage-dashboard.tsx
  client/src/types/health.ts
  health-snapshots/health-snapshot-2025-04-06T04-33-15.264Z.json
  server/health/index.ts
  server/health/route-health.ts
Owners: @project-admin, @frontend-team-lead, @backend-team-lead

Checkpoint before assistant change: Fix database connection issues by adding PostgreSQL and improving session storage.
  replit.nix
  server/storage.ts
Owners: @project-admin, @data-architect

Assistant checkpoint: Fix database connection and boot system error handling
  .replit
  server/boot/index.ts
  server/db.ts
Owners: @project-admin, @backend-team-lead

Assistant checkpoint: Setup Node.js and configure development workflow
  .replit
  replit.nix
Owners: @project-admin

Assistant checkpoint: Configure Node.js environment and dependencies
  .replit
  replit.nix
Owners: @project-admin

Assistant checkpoint: Configure Node.js environment and workflow
  .replit
  replit.nix
Owners: @project-admin

.github/CODEOWNERS:

# Example code ownership definitions - update with actual users

# Default owners for everything
*                               @project-admin

# Frontend code
/client/                        @frontend-team-lead
/client/src/pages/              @frontend-team-lead
/client/src/components/         @frontend-team-lead
/client/src/hooks/              @frontend-team-lead

# Backend code
/server/                        @backend-team-lead
/server/routes/                 @backend-team-lead
/server/middleware/             @backend-team-lead

# Shared code
/shared/                        @project-architect

# Animal breeding module
/client/src/modules/breeding/   @animal-specialist
/server/routes/breeding-routes.ts @animal-specialist

# Shopping module
/client/src/modules/customer/   @customer-experience-lead

# GitHub configuration
/.github/                       @devops-lead

# Database and data models
/shared/schema.ts               @data-architect
/server/storage.ts              @data-architect

# CI/CD configuration
/.github/workflows/             @devops-lead

# Documentation
/docs/                          @documentation-team
/README.md                      @documentation-team
